<html lang="en">
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/nav") %>
    <div>
        <h1>Deletion Failed</h1>
        <p>The blog titled "<%= title %>" could not be found or deleted.</p>
        <button><a href="/newblog">Try Again</a></button>
    </div>

    <%- include("../partials/footer") %>
    
</body>
</html>

 
