<html lang="en">
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/nav") %>
    <div class="index blog-success">
    <h1><u>Blog created successfully!!</u></h1>
    <br><br>
    <p>Your blog has been created successfully. You can now view it on the blog list page</p>
    <button><a href="/blogs">Go to Blog</a></button>
    </div>
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>
 
