<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    
    <div class="about-container">
        <h1>About Us</h1>
        <p>This is a blog website where you can post your blogs and read blogs posted by other users. You can also comment on the blogs and like them. You can also delete the blogs that you have posted.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>