<html lang="en">
    <%- include("./partials/head") %>
<body>
    
    <%- include("partials/nav") %>
    <main>
        <section class="about-author">
            <h1>About the Author</h1>
            <p>This website is currently being built up by the students of MIT, Moradabad</p>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>