<html lang="en">
    <%- include("partials/head") %>
<body>

    <%- include("partials/nav") %>
    <div class="index">
    <h1><u>Welcome to Blog Posts</u></h1>
    </div>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>
 
